<div class="row" style="width: 90%;margin-left: 6%;">
  <div class="col-md-8 col-md-offset-2">
    <div #scrollMe class="bs-example" id="messages">
      <!-- Point: 1 -->
      <div *ngIf="showLoader">
        <loaders-css [loader]="'pacman'" [loaderClass]="'my-loader'"></loaders-css>
      </div>
      <div *ngFor="let message of pvtMessages | async">
        <!-- Point: 2 -->
        <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
          <img [src]="message.photoURL" class="img-circle">
          <p>{{ message.message|emojify }}</p>
          <div class="author">
            {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
          </div>
        </div>
      </div>
    </div>
    <figure class="highlight">
      <simple-notifications></simple-notifications>
      <span>Emojified: {{newMessage|emojify}}</span>
      <div class="row">
        <div class="col-md-10">
          <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        </div>
        <div class="col-md-2" style="position: absolute;right: -13px;bottom: 35px;">
          <button md-fab class="btn-success" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </div>
    </figure>
  </div>
</div>
<!--get back to public chat-->
<div class="dx-field">
  <div class="dx-field-value-static">
    <a id="link3" (mouseenter)="toggleWithAnimationOptions()" (mouseleave)="toggleWithAnimationOptions()" (click)="goBack()"
      md-fab style="position: absolute;right: 75px;bottom: 483px;background-color: #5cb85c;">
      <i class="fa fa-fast-backward" aria-hidden="true"></i>
      </a>
      <dx-popover target="#link3" position="top" [width]="300" [(visible)]="withAnimationOptionsVisible">
        <dxo-animation>
          <dxo-show type="pop" [from]="{ scale: 0 }" [to]="{ scale: 1 }"></dxo-show>
          <dxo-hide type="fade" [from]="1" [to]="0"></dxo-hide>
        </dxo-animation>
        <div *dxTemplate="let data = model of 'content'">
          <div style="text-align:center">
            <span>Get Back</span>
          </div>
        </div>
      </dx-popover>
  </div>
</div>
