/* You can add global styles to this file, and also import other style files */

.emoji {
  display: inline-block;
}

body {
  font-family: 'sans-serif';
  font-size: 22px;
}

.pacman {
  left: 50%;
}
